:root {
  --text: #1b150e;
  --background: #f6f0ea;
  --primary: #5b4224;
  --secondary: #d6b085;
  --accent: #bb7c35;
}
.dark-theme {
  --text: #f1ebe4;
  --background: #150f09;
  --primary: #dbc2a4;
  --secondary: #7a5429;
  --accent: #ca8c44;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--background);
  color: var(--text);
  /* Remove this justify content center on body later */
  /*   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  transition: background 0.3s ease-in-out;
  padding: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#darkmode {
  height: 2.5rem;
  width: 2.5rem;

  cursor: pointer;
}

/* Lägg till så darkmode val sparas i localstorage */
#darkmode:hover {
  transform: scale(1.1);
}

#darkmode:active {
  transform: scale(0.9);
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin: 0.5rem;
  border: 1px solid;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

button {
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: var(--primary);
  color: var(--background);
  transition: transform 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button:hover {
  transform: scale(1.03);
}

button:active {
  transform: scale(0.97);
}

.notesHistory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.noteHistoryItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;

  background-color: white;
  padding: 3rem;
  border-radius: 2rem;
}

.itemTitle {
  font-size: 2rem;
  color: #1b150e;
}

.itemContent {
  font-size: 1.25rem;
  color: #1b150e;
  text-align: left;
}

.itemDate {
  color: hsl(0, 0%, 50%);
}

.itemID {
  color: hsl(0, 0%, 50%);
  font-size: 0.75rem;
}

.itemDelete {
  background-color: var(--secondary);
  color: var(--text);
}

.deleteAllBtn {
  margin-top: -1rem;

  background-color: var(--accent);
  padding: 1rem 2rem 1rem 2rem;
}

@media (max-width: 650px) {
  .notesHistory {
    grid-template-columns: 1fr;
  }
}
